@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-sidebar-color: #fbfaff;
  --color-secondary: #f3f4f8;
  --color-primary: #23235f;
  --color-lightgray: #f3f7fa;
  --color-lightblue: #e7e7ff;
  --color-dark-blue: #5150f9;
  --color-white-alt: #f3f7fd;
  --color-gray-alt: #8c97a8;
  --color-black-alt: #1e1e1e;
  --color-gray: #e8edf1;
  --color-green: #299702;
  --color-blue-gray: #768396;
}
